<html>
    
    <head></head>
    
    <body>
    
        <div class="container">
          <div class="jumbotron">
              <div>
                <h1>Welcome!</h1> 
                  <br>
                  <p>This is a simple Todo application where you can create your Todos, view, edit and delete each of them.</p>
              </div>
          </div>
            
              <div class="text-center">
                <a class="btn btn-success btn-block" href="/users/login">Login</a>
                  <br><br>
                    <p>You don't have an account?</p>
                    <a class="btn btn btn-primary btn-md" href="/users/register">Register</a>
              </div>
    
               
        </div>
        
    </body>

</html>