<html>

    <head></head>

    <body>
    
        <h1 class="page-header">Dashboard</h1>
        <h3>Hello, {{user.name}}</h3>
        <br>
        <p>Welcome to your dashboard</p>
        <br>
        
        <div class="inline">
        
            <a href="/users/todos"><button class="btn btn-info">View Todos</button></a>
    
            <a href="/users/addTodo"><button class="btn btn-success">Add new Todo</button></a>
            
        </div>
    
    </body>
    
</html>